# Entorno actual (QA o PROD)
ENVIRONMENT=QA

# Tipo de Base de Datos (sqlite o postgres)
DB_TYPE=postgres

# Credenciales y Conexión a PostgreSQL (Debe coincidir con docker-compose.yml si lo usas en Docker)
DB_HOST=postgres
DB_PORT=5432
DB_USER=intexus
DB_PASSWORD=intexus01
DB_NAME=cdc_database

# Clave Secreta de Sesiones (Cambiar en Producción)
SECRET_KEY=clave_muy_segura_intexus
